In [4]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [5]:
import numpy as np 
import pandas as pd

In [ ]:
dataset_path = "../dataset.csv"
df = pd.read_csv(
    dataset_path,
    # dtype is specified to prevent a DtypeWarning
    dtype={
        "full_query": str,
        "label": int,
        "statement_type": str,
        "query_template_id": str,
        "attack_payload": str,
        "attack_id": str,
        "attack_technique": str,
        "attack_desc": str,
        "split": str,
    },
)

df.head()

,full_query,label,statement_type,query_template_id,attack_payload,attack_id,attack_technique,attack_desc,sqlmap_status,split
0,"INSERT INTO airport (ident, type, name, latitu...",1,insert,airport-I1,NaN,stacked-0,stacked,NaN,failure,test
1,"INSERT INTO airport (ident, type, name, latitu...",1,insert,airport-I1,NaN,stacked-0,stacked,NaN,failure,test
2,"INSERT INTO airport (ident, type, name, latitu...",1,insert,airport-I1,NaN,stacked-0,stacked,NaN,failure,test
3,"INSERT INTO airport (ident, type, name, latitu...",1,insert,airport-I1,NaN,stacked-0,stacked,NaN,failure,test
4,"INSERT INTO airport (ident, type, name, latitu...",1,insert,airport-I1,NaN,stacked-0,stacked,NaN,failure,test