In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np 
import pandas as pd

In [3]:
dataset_path = "./dataset.csv"

df = pd.read_csv(
    dataset_path,
    # dtype is specified to prevent a DtypeWarning
    dtype={
        "full_query": str,
        "label": int,
        "statement_type": str,
        "query_template_id": str,
        "attack_payload": str,
        "attack_id": str,
        "attack_technique": str,
        "attack_desc": str,
        "split": str,
        "sqlmap_status" : str,
        "attack_stage" : str,
    },
)

/tmp/nix-shell-9413-0/ipykernel_9911/1625788348.py:3: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(

In [25]:
def display_counts_recon(df : pd.DataFrame):
    result = df.groupby('attack_id')['attack_stage'].value_counts().unstack(fill_value=0)
    with pd.option_context('display.max_rows', None, 
                       'display.max_columns', None,
                       'display.width', None,
                       'display.max_colwidth', None):
        display(result)
_ = display_counts_recon(df)

attack_stage  exploit  recon
attack_id
boolean-0        8111   2463
boolean-102        21    153
boolean-108      6322    151
boolean-114        21    154
boolean-12       8134   2730
boolean-120        21    149
boolean-126      6326   1653
boolean-132      1872     50
boolean-138      6326   1035
boolean-144         8    173
boolean-150      6326   1949
boolean-156      6326    151
boolean-162         9    189
boolean-168        34    660
boolean-174        21    153
boolean-18       6325   5260
boolean-180        21    153
boolean-186      1907    243
boolean-192      6486   1474
boolean-24         14   1253
boolean-30       6461   4132
boolean-36       6322   2700
boolean-42       6322    328
boolean-48       6322    330
boolean-54          5     97
boolean-6        8136   5453
boolean-60       1897     86
boolean-66        186   1028
boolean-72       6323    327
boolean-78       6322    328
boolean-84          8    173
boolean-90       6323    154
boolean-96          8     96
error-1            13   1261
error-103         188    243
error-109          13    226
error-115         189    226
error-121         188    224
error-127         188   1375
error-13          188   1332
error-133          61     70
error-139         188    449
error-145         188    238
error-151         188    494
error-157         188    225
error-163         188    240
error-169           3   1168
error-175         189    227
error-181         188    226
error-187           3     70
error-19           12   1881
error-193          12   2531
error-25           68    388
error-31          188   1450
error-37          188   1510
error-43          189    478
error-49          188    477
error-55           56    147
error-61            2    143
error-67           13    469
error-7           188   1471
error-73           13    510
error-79          188    490
error-85          188    226
error-91          188    226
error-97           62    142
inline-101          3      2
inline-107          4      4
inline-11          16     41
inline-113          4      4
inline-119          4      4
inline-125          4      4
inline-131          4     15
inline-137          2      2
inline-143          8     10
inline-149          4      4
inline-155          8     10
inline-161          4      4
inline-167          4      4
inline-17          20     25
inline-173          1     10
inline-179          4      4
inline-185          4      4
inline-191          0      3
inline-197          4     26
inline-23          24     30
inline-29           7      6
inline-35         188     40
inline-41          14     40
inline-47           8     10
inline-5           15     35
inline-53           8     10
inline-59           3      1
inline-65           2      1
inline-71           8     10
inline-77           8     10
inline-83           8     10
inline-89           4      4
inline-95           4      4
stacked-105         9     44
stacked-111       191     44
stacked-117       191     45
stacked-123        16     43
stacked-129       201    766
stacked-135        60     61
stacked-141       191    141
stacked-147       191     44
stacked-15       1005   1150
stacked-153       191    118
stacked-159       191    177
stacked-165       191     52
stacked-171        59    553
stacked-177         9     46
stacked-183         9    178
stacked-189        65     58
stacked-195       191   1311
stacked-21       1206   1380
stacked-27        301    319
stacked-3        1005   1150
stacked-33       1206   1380
stacked-39        191   1221
stacked-45        191    142
stacked-51        192    129
stacked-57         59     42
stacked-63         41     42
stacked-69        191    139
stacked-75          9    154
stacked-81        191    139
stacked-87        191     44
stacked-9        1207   1380
stacked-93        191     46
stacked-99         57     42
time-10           104    556
time-100           29     48
time-106           19     43
time-112           46    407
time-118          105     46
time-124          104    409
time-130          104    828
time-136           38      8
time-142          104    507
time-148          104     44
time-154          104    141
time-16             3   1550
time-160            3     44
time-166            3     59
time-172           34    670
time-178            3     45
time-184            3     46
time-190           27     13
time-196           50   1649
time-22           105   2013
time-28            35    486
time-34           104   1189
time-4            104   1484
time-40             3    932
time-46           105    541
time-52           104    173
time-58             8    247
time-64            35    151
time-70           104    648
time-76           104    179
time-82             3    169
time-88           104     45
time-94             3     45
union-104         254    254
union-110         254    254
union-116         254    254
union-122        1511   1561
union-128         150    450
union-134           8     16
union-14         5517   4234
union-140          34    108
union-146          35     55
union-152          50    109
union-158          50     55
union-164          50     85
union-170          50    328
union-176          50     57
union-182          57     79
union-188          82     87
union-194          63    686
union-2           854   3048
union-20         1214   3005
union-26          256    251
union-32         1218   2406
union-38         4974    912
union-44          509    512
union-50          509    512
union-56          156    151
union-62          152    588
union-68          508    512
union-74          508    512
union-8          1004   3224
union-80          508    512
union-86          254    254
union-92          254    254
union-98          171    161

In [ ]:
_df = df.loc[(df["attack_id"] == "inline-191")]

display(_df)

,full_query,label,attack_payload,attack_desc,attack_stage,tamper_method,sqlmap_status,statement_type,query_template_id,attack_id,attack_technique,split
35144,"SELECT r.name AS region_name, COUNT(a.id) AS airport_count FROM airport a JOIN regions r ON a.iso_region = r.code WHERE a.iso_country = ""(SELECT�CONCAT(CONCAT(0x716a767671,(CASE�WHEN\r(3981=3981) THEN�0x31\rELSE\n0x30\nEND)),0x71786b6b71))"" GROUP BY r.name ORDER BY r.name ASC;",1,NaN,NaN,recon,space2mysqlblank,NaN,select,airport-S16,inline-191,inline,test
84792,"SELECT r.name AS region_name, COUNT(a.id) AS airport_count FROM airport a JOIN regions r ON a.iso_region = r.code WHERE a.iso_country = ""GP""),(,)',)("" GROUP BY r.name ORDER BY r.name ASC;",1,NaN,NaN,recon,space2mysqlblank,NaN,select,airport-S16,inline-191,inline,test
177617,"SELECT r.name AS region_name, COUNT(a.id) AS airport_count FROM airport a JOIN regions r ON a.iso_region = r.code WHERE a.iso_country = ""(SELECT\tCONCAT(0x716a767671,(ELT(5029=5029,1)),0x71786b6b71))"" GROUP BY r.name ORDER BY r.name ASC;",1,NaN,NaN,recon,space2mysqlblank,NaN,select,airport-S16,inline-191,inline,test

In [ ]:
# ASR = Attack success rate
def display_asr_per_technique(df : pd.DataFrame):
    df_a = df[df["label"] == 1]
    # First keep a sample for each ID: 
    dfs = df_a.groupby('attack_id').sample(n=1, random_state=42)
    # Then, compute for each technique, the success 
    r = dfs["sqlmap_status"].value_counts(dropna=False)
    print(r)

display_asr_per_technique(df=df)

sqlmap_status
NaN        118
success     44
failure     36
Name: count, dtype: int64

In [24]:
def display_NAN_sqlmap_status(df : pd.DataFrame): 
    df_a = df[df["label"] == 1]
    dfa_nan = df_a[df_a["sqlmap_status"].isna()]
    display(dfa_nan)

def fix_NAN_sqlmap_status(df : pd.DataFrame):
    dfa = df[df["label"] == 1]
    for attack in dfa["attack_id"].unique():
        dfa_aid = dfa[dfa["attack_id"] == attack]
        status = dfa_aid.loc[dfa_aid["attack_stage"] == "exploit"].iloc[0]["sqlmap_status"]
        print(status)
fix_NAN_sqlmap_status(df=df)

success
success
success
success
success
success
success
success
success
success
success
success
success
failure
success
success
failure
success
failure
success
success
failure
failure
success
success
failure
failure
success
success
failure
success
success
success
success
failure
success
success
success
success
success
success
success
success
failure
success
success
success
success
failure
success
success
success
success
success
success
failure
success
failure
failure
success
success
success
failure
success
success
success
failure
success
failure
success
success
failure
success
success
success
failure
success
failure
failure
failure
success
success
success
success
success
success
success
failure
failure
failure
success
success
success
failure
success
success
success
failure
success
failure
success
success
success
failure
success
success
failure
success
failure
success
success
failure
failure
success
success
success
success
success
failure
success
success
success
success
success
success
success
success
success
failure
success
success
success
success
failure
failure
success
success
success
success
success
success
success
success
failure
success
failure
success
success
success
success
success
failure
success
success
success
success
success
failure
success
success
success
success
success
success
success
success
success
success
failure
success
success
success
failure
success
success
failure
failure
success
failure
failure
failure
success
failure
failure
failure
failure

IndexError: single positional indexer is out-of-bounds